<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849902491E4AFAFE0052CCD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849902621E4AFAFF0052CCD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8499026D1E4AFAFF0052CCD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
